<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body >

    <div>
        <h1>Lista de Usuarios</h1>

        <!-- Tabla de usuarios -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>
                        <a href="/edit/<%= user.id %>" class="btn-edit">Editar</a> |
                        <a href="/delete/<%= user.id %>" class="btn-delete">Eliminar</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        
    </div>

    <div class="center-button">
        <a href="/add" class="button" style="text-decoration: none;">Agregar Usuario</a>
    </div>

</body>
</html>